html, body, #root {
  height: 100%;
  background: #03080f;
  color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
  color: "white"
}

.app {
  height: 100%;
  margin: 0;
}

.navBtn {
  position: relative;
  color: rgba(255, 255, 255, 0.63);
}

.navBtn::before {
  height: 2px;
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0px;
  background-color: #ffffff;
  animation: backgroundChanger 15s infinite;
}

.navBtn:hover{
  text-shadow: 0px 0px 10px #ffffff;
}

.navBtnActive {
  color: #ffffff;
}

.navBtnActive::before {
  width: 100%;
  opacity: 1;
  bottom: -5px;
  animation: navItemUnderline 500ms, backgroundChanger 15s infinite;
}

.colorChanger {
  animation-duration: 15s;
  animation-name: colorChanger;
  animation-iteration-count: infinite;
}

.connectBtnBgd {
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: backgroundDarkChanger;
}

.connectBtn:active .connectBtnBgd {
  bottom: -4px;
}

.connectBtn::after {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.connectBtn:hover::after {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.card {
  position: relative;
  background-color: #1a1a1a69;
  background-color: yellow;
}

.cardShadow {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -5px;
  right: -5px;
  background-color: white;
}

@keyframes navItemUnderline {
  from { 
    opacity: 0;
    bottom: -15px;
  }
  to {
    opacity: 1;
    bottom: -5px;
  }
}

@keyframes colorChanger {
    0% {
      color: #69c46d;
    }
    14% {
      color: #daaa3f;
    }
    28% {
      color: #f59d50;
    }
    42% {
      color: #f47068;
    }
    56% {
      color: #fc8dc7;
    }
    70% {
      color: #b083ef;
    }
    84% {
      color: #6bb6ff;
    }
    100% {
      color: #69c46d;
    }
}

@keyframes backgroundChanger {
  0% {
    background-color: #69c46d;
  }
  14% {
    background-color: #daaa3f;
  }
  28% {
    background-color: #f59d50;
  }
  42% {
    background-color: #f47068;
  }
  56% {
    background-color: #fc8dc7;
  }
  70% {
    background-color: #b083ef;
  }
  84% {
    background-color: #6bb6ff;
  }
  100% {
    background-color: #69c46d;
  }
}

@keyframes backgroundDarkChanger {
  0% {
    background-color: #469549;
  }
  14% {
    background-color: #ae7c12;
  }
  28% {
    background-color: #cb6b2c;
  }
  42% {
    background-color: #e5534b;
  }
  56% {
    background-color: #c96198;
  }
  70% {
    background-color: #8256d0;
  }
  84% {
    background-color: #316dca;
  }
  100% {
    background-color: #469549;
  }
}

#twitterIcon {
  color: rgb(29, 155, 240);
}

#githubIcon {
  color: white;
}

#instagramIcon {
  color: white;
  border-radius: 8px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}